<ion-content>
    <section id="hero_in" class="general" [style.backgroundImage]="'url('+ course?.banner +')'">
        <div class="wrapper">
            <div class="container">
                <div id="video">

                </div>
            </div>
        </div>
    </section>
    <!--/hero_in-->


    <section class="price_course text-center">
        <div class="box-price">
            <div class="out_of">
                <span>De:</span> <strong> R$ 89,90</strong>
            </div>

            <div class="for_only">
                POR APENAS:
            </div>

            <div class="price">
                R$ 49,90
            </div>

            <span>
                SUPORTE EXCLUSIVO DIRETO COM O PROFESSOR,
                FORUM TIRA DUVIDAS,
                AULAS GRAVADAS
            </span>

            <p>
                Instale nosso aplicativo exclusivo e assista as
                aulas em seu Tablet ou Smartphone
            </p>

            <a href="">
                <img src="assets/images/app-apple.png" alt="Nosso Aplicativo">
            </a>

            <a href="">
                <img src="assets/images/app-google.png" alt="Nosso Aplicativo">
            </a>

        </div>

        <br/>
        <br/>

        <ion-button class="btn_start_now" color="#FF005A">COMECE AGORA !</ion-button>
    </section>
    <!--/price-->


    <section id="model">
        <p>
            "Você sempre diva em
            todas as ocasioes <br/>
            mostre todo poder de
            sua beleza, seja VIP."
        </p>
        <!--<img src="assets/images/model.png" alt="Modelos">-->
    </section>


    <section id="certificate">
        <h2>
            CERTIFICADO DE CONCLUSÃO !
        </h2>
        <img src="assets/images/certificate.png" alt="CERTIFICADO DE CONCLUSÃO!">
    </section>



    <section  class="price_course text-center">
        <div class="box-price">
            <div class="out_of">
                <span>De:</span> <strong> R$ 89,90</strong>
            </div>

            <div class="for_only">
                POR APENAS:
            </div>

            <div class="price">
                R$ 49,90
            </div>

            <span>
                SUPORTE EXCLUSIVO DIRETO COM O PROFESSOR,
                FORUM TIRA DUVIDAS,
                AULAS GRAVADAS
            </span>

            <p>
                Instale nosso aplicativo exclusivo e assista as
                aulas em seu Tablet ou Smartphone
            </p>

            <a href="">
                <img src="assets/images/app-apple.png" alt="Nosso Aplicativo">
            </a>

            <a href="">
                <img src="assets/images/app-google.png" alt="Nosso Aplicativo">
            </a>

        </div>

        <br/>
        <br/>

        <ion-button class="btn_start_now" color="#FF005A">COMECE AGORA !</ion-button>
    </section>
    <!--/price-->


    <section id="video_demonstrative">

    </section>

    <div class="temp"></div>
</ion-content>

